.tabsContainer {
  padding: 10px;
  border: 1px solid rgb(201, 201, 201);
}

.table {
  :global(.ant-table-cell[colspan]) {
    padding: 0px !important;
  }

  :global(.ant-table-row) {
    background: #fff;

    > td {
      border-top: 1px solid rgb(201, 201, 201) !important;
      border-bottom: none !important;

      &:first-child {
        border-left: 1px solid rgb(201, 201, 201) !important;
      }
      &:last-child {
        border-right: 1px solid rgb(201, 201, 201) !important;
      }
    }
  }
}

.space {
  width: 100%;
  height: 20px;
}
